@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1{
    font-family: Kalam, cursive;
    font-weight: 300;
    font-style: normal;
    color: goldenrod;
    text-decoration: underline;
    background-color: blueviolet;
}

h2{
    font-family: "Courier Prime", monospace;
    font-size: 2em;
}

p{
font-family: "Bebas Neue";
font-size: 1em;
text-align: justify;
}